body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    color: rgb(75, 75, 75);
}
.divided-div{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 3%;
}

.divided-div a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    padding: 10px 20px;
    background-image: linear-gradient(to right, orange, tomato);
    box-shadow: 5px 7px 20px tomato;
}
.orange-color{
    color: orange;
}
.gray-color{
    color: gray;
}

/* ========================FOOD SECTION============================== */
#food-section{
    height: 500px;
    padding-bottom: 150px;
}
#food-section .divided-div img{
    width: 95%;
}
#food-section .divided-div p,#recipies-section .section-title{
    color:#7e7b7b;
}
.food-section-content{
    margin-top: 60px;
}
.food-section-content p{
padding-bottom: 20px;
}

/* ========================ABOUT SECTION============================== */
#about-section{
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    padding: 55px 100px;
    height: 304px;
}
#about-section .divided-div img{
    width: 52%;
    padding-left: 100px;
}
.about-content{
    margin-top: 30px;
}
.about-content h2{
    color: rgb(95, 95, 95);
}
.about-content p{
    padding-bottom: 20px;
}

/* ========================RECIPIES SECTION============================== */
#recipies-section{
    height: 675px;
    margin-top: 80px;
}
#recipies-section .section-title, .section-content{
    text-align: center;
}
#recipies-section .section-content,.recipies-divided p{
    font-size: 13px;
}
.recipies-divided{
    width: 17%;
    float: left;
    margin-left: 8%;
    padding: 25px 30px;
    text-align: justify;
}
.recipies-divided img{
    width: 100%;
    height: 175px;
}

.recipies-area{
    margin-top: 50px;
}
.recipies-area div{
    height: 100%;
    box-shadow: 5px 7px 40px gray;
    border-radius: 15px;
}
.recipies-area h3{
    font-size: 30px;
}

/* ========================NUMBER SECTION============================== */
#number-section{
    height: 300px;
    padding: 0px 17px;
}
.number-divided{
    width: 20%;
    float: left;
    margin-left: 5%;
    padding: 10px 30px;
    text-align: center;
}
.number-divided h4{
    font-size: 30px;
}
.number-div{
    width: 84%;
    margin-left: 7%;
    float: left;
    box-shadow: 5px 7px 40px grey;
    border-radius: 15px;
}

/* ========================FOOTER SECTION============================== */
footer{
    background-color: rgb(22, 22, 22);
    padding: 10px 0px;
}
footer p,h3{
    text-align: center;
    color: white;
}
footer p{
    font-size: 13px;
}
footer h3{
    font-weight: 700;
    font-size: 25px;
}